// Widget Container
.widget-container {
  @include flex(row, space-between, stretch, 2rem);
  padding: 1rem 2rem 2rem 0;
  overflow-x: auto;
  
  // Uncomment this line if widget.length > 4
  // margin-right: 1.5rem;

  &::-webkit-scrollbar {
    width: 2px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-right: 2rem;
    margin-left: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  .widget-item {
    width: 16rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
    padding: 1.2rem;
    border-radius: 10px;
    @include flex(row, space-between, stretch, 0);

    .widget-info {
      display: flex;
      flex-direction: column;

      > p {
        font-size: 0.65rem;
        font-weight: 400;
        opacity: 0.8;
        color: black !important;
      }

      > h4 {
        font-size: 1rem;
        font-weight: 700;
        color: black !important;
      }
    }

    #widget-icon {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      border-radius: 0.5rem;

      > svg {
        font-size: 1.3rem;
        opacity: 0.7;
      }
    }
  }
}
